.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.table-title {
  font-size: 20px;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.container {
  padding-top: 20px;
}

.water {
  fill: #22448F;
  fill-opacity: 1;
}

.lake {
  fill: #22448F;
  fill-opacity: 1;
  stroke: #FFF;
  stroke-width: 0.75px;
}

.land {
  stroke: #FFF;
  stroke-width: 0.75px;
}

.land:hover {
  stroke-width: 1.5px;
}

.focused {
  fill: #33CC33;
}

.animate-container {
  text-align: right;
  margin-right: 80px;
}

.countryTooltip {
  position: absolute;
  display: none;
  pointer-events: none;
  background: #fff;
  padding: 5px;
  text-align: left;
  border: solid #ccc 1px;
  color: #666;
  font-size: 14px;
  font-family: sans-serif;
  white-space: pre-wrap;
}

table.tablesorter th {
  cursor: pointer;
}

th.headerSortUp::after {
  content: url('../img/small_asc.gif');
}

th.headerSortDown::after {
  content: url('../img/small_desc.gif');
}