.container {
  padding-top: 50px;
  text-align: center;
}

.water {
  fill: #22448F;
  fill-opacity: 1;
}

.lake {
  fill: #22448F;
  fill-opacity: 1;
  stroke: #FFF;
  stroke-width: 0.75px;
}

.land {
  stroke: #FFF;
  stroke-width: 0.75px;
}

.land:hover {
  stroke-width: 1.5px;
}

.focused {
  fill: #33CC33;
}

select {
  position: absolute;
  top: 20px;
  left: 580px;
  border: solid #ccc 1px;
  padding: 3px;
  box-shadow: inset 1px 1px 2px #ddd8dc;
}

.countryTooltip {
  position: absolute;
  display: none;
  pointer-events: none;
  background: #fff;
  padding: 5px;
  text-align: left;
  border: solid #ccc 1px;
  color: #666;
  font-size: 14px;
  font-family: sans-serif;
  white-space: pre-wrap;
}